<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>900</integer>
	<key>capHeight</key>
	<integer>696</integer>
	<key>copyright</key>
	<string>2018, Emre Parlak.</string>
	<key>descender</key>
	<integer>-100</integer>
	<key>familyName</key>
	<string>Major Mono Display</string>
	<key>openTypeHeadCreated</key>
	<string>2018/06/12 19:14:41</string>
	<key>openTypeHheaAscender</key>
	<integer>900</integer>
	<key>openTypeHheaDescender</key>
	<integer>-100</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Emre Parlak</string>
	<key>openTypeNameDesignerURL</key>
	<string>www.emreparlak.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Major Mono Display</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>900</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-100</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>XXXX</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1152</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>224</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-20</integer>
		<integer>0</integer>
		<integer>696</integer>
		<integer>696</integer>
		<integer>712</integer>
		<integer>716</integer>
		<integer>900</integer>
		<integer>916</integer>
	</array>
	<key>postscriptFontName</key>
	<string>MajorMonoDisplay-Regular</string>
	<key>postscriptIsFixedPitch</key>
	<true/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-116</integer>
		<integer>-100</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>2</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>696</integer>
</dict>
</plist>
